body {
  background-image: url('./utils/Assets/wallWallpaper.jpg');
  background-position: center;
  background-size: cover;
}

.header-box {
  background-color: #fff;
  border: solid 4px #000;
  display: flex;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
  margin: 0;
}

.art-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 170px;
}

.image-frame {
  align-items: center;
  background-image: url('./utils/Assets/frameblack.png');
  background-position: center;
  background-size: cover;
  display: flex;
  height: 260px;
  justify-content: center;
  margin: 8px;
  width: 310px;
}

.art-image {
  border: solid 2px #000;
  height: 228px;
  width: 258px;
}

.button-box {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 50px;
  width: 60%;
}

.page-btn {
  border: solid 4px #000;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 80px;
  margin: 20px 40px 20px 40px;
  width: 200px;
}

.page-btn:active {
  background-color: #000;
  color: #fff;
}

.page-btn:focus {
  outline: none;
}

.page-btn:hover {
  cursor: pointer;
}